h1{
    padding: 8px;
    font-size: 50px;
    border-bottom: 3px solid;
    background-color: #FF595E;
    font-family: Fuego Fatuo;
}

h3{
    font-family: Arial;
}

header{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    background-color: #FFCA3A;
    position: relative;
}

section.p{
    text-align: justify;
    padding: 5px;
    background-color: #8ac926;
    font-family: Bahnschrift;
    position: sticky;
}
.tabla1{
    font-family: Bahnschrift;
    border: 4px solid;
    background-color: #1982C4;

    padding: auto;
    margin: auto;
    
}
.tabla2 tr td{
    padding: 8px;
    font-family: Bahnschrift;
    border: 2px solid;
    background-color: #1982C4;
    position: relative;
}
section.comment{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding:  8px;
    font-family: Bahnschrift;
    background-color: #1982C4;
    border-bottom: 40px solid #1982C4;
}
.textcomment{
    text-align: center;
    background-color: #8ac926;
    position: sticky;
}
.texto{
    width: 200%;
    height: 50%;
}
.boton{
    margin-top: 5px;
    background-color: #6A4C93;
}
html{
    background-color: #EAE2B7;
}
section.timage{
    text-align: center;
    background-color: #1982C4;
    padding: auto;
    border: 5px solid #1982C4;
    float: right;
    position: relative;
    margin-left: 2%;
}
section.image{
    background-color: #1982C4;
    padding: auto;
    border: 5px solid #1982C4;
    float: right;
    position: relative;
    margin-left: 2%;
}
a{
    color: #D62828;
}
.container{
    justify-content: center;
    box-sizing: border-box;
    display: grid; 

    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
}

.grid-item{
    background-color: #1982C4;
    display: inline-grid;
    border: 5px solid #6A4C93;
    justify-items: center;
    padding: 6px;

}
.textoim{
    font-family: Bahnschrift;
}